<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="life.lovestudy.mapper.OrderItemMapper">

    <!--添加多个订单项-->
    <insert id="addOrderItems" parameterType="java.util.List">
        insert into t_order_item(orderId, productId, productSize) values
        <foreach collection="list" separator="," item="item">
            (#{item.orderId}, #{item.productId}, #{item.productSize})
        </foreach>
    </insert>



</mapper>
